* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Nav Style Start */

header {
    background-color: #595b61;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


header nav ul {
    font-family: monospace;
    font-size: 30px;
    padding: 5px 10px;
    margin: 10px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    padding: 0 20px;
    color: silver;
    font-weight: bold;
}

/* Nav Style End */

/* Header Style Start */

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    font-size: 50px;
    text-align: center;
    margin: 5px 0 px 0;

}


.about img {
    width: 10%;
    height: 10%;
    border: solid 2px;
    border-radius: 150px;
    margin: 10px;
    float: left;
}

/* Header Style End */

/* Main Style Start */
/* About Section */

main {
    background-color: #2e3449;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    width: 100%;

}



.about-para {
    margin: 20px;
    text-align: center;
}

.about-para h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    font-weight: darker;
    font-size: 40px;
    margin: 25px 0 10px 0;
    text-align: center;
    
}

.about-para p {
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    font-size: 20px;
}

/* Footer Style Start */



/* Projects Style Start */

/* .projects selector may not be needed!

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

*/

.projects h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: solid 2px #2e3449;
}

.projects h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
       
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4px;
    column-gap: 4px;
}

.html-card {
    width: 100%;
    height: 500px;
    border: solid 4px silver;
    flex-basis: 80%;
    background-image: url(../images/horiseon-image.png);
    background-size: cover;
}

.css-card {
    width: 40%;
    height: 400px;
    border: solid 4px silver;
    background-image: url(../images/run-buddy-image.jpg);
    background-size: cover;
}

.javascript-card {
    width: 40%;
    height: 400px;
    border: solid 4px silver;
}

.games-card {
    width: 40%;
    height: 400px;
    border: solid 4px silver;
}



footer {
    background-color: #3db1a3;
}

footer ul {
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

footer ul li {
    padding: 0 20px;
}


   